{% extends "layouts/base.html" %}

{% block content %}

<main class="main main--alignTop">
    <div class="row">
        <h1 class="text--title text--center">500 | Internal Server Error!</h1>
        <h5 class="text--caption text--center">Server brokey</h5>
        <p class="text--center">If this keeps happening, please report this error <a href="{{ DISCORD_URL }}"
                                                                                     target="_blank">on our discord <img
                src="/static/img/discord.svg"
                alt="(Discord logo)"
                style="height: 1em; position: relative; top: 0.15em"></a></p>
        <br>
        <a class="text--center" href="/">Go back home</a>
    </div>
</main>


{% endblock %}
