{% extends "layouts/base.html" %}


{% block content %}

<style>
    .tg {
        border-collapse: collapse;
    }

    .tg td {
        border: 1px solid black;
        color: black;
        padding: 10px 5px;
        word-break: normal;
        background-color: #d2f7ff;
        text-align: center;
        vertical-align: center;
    }

    .tg th {
        background-color: #00add3;
        color: #fff;
        font-weight: bold;
        overflow: hidden;
        padding: 10px 5px;
        word-break: normal;
        border: 1px solid black;
    }
</style>


<main class="main main--alignTop vertical-center">
    <div class="row">
        <table class="tg">
            <thead>
            <tr>
                <th colspan="5">Card Issues</th>
            </tr>
            <tr>
                <th>Card Name</th>
                <th>Card Number</th>
                <th>Set</th>
                <th>Issue</th>
                <th>Issue Date<br></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Tropical Tidal Wave</td>
                <td>HGSS18</td>
                <td>PR-HS</td>
                <td>Missing</td>
                <td>Dec 13, 2023</td>
            </tr>
            <tr>
                <td>Kingdra</td>
                <td>XY39</td>
                <td>XYP</td>
                <td>No high-res image<br></td>
                <td>Dec 13, 2023</td>
            </tr>
            <tr>
                <td>Altaria</td>
                <td>XY46</td>
                <td>XYP</td>
                <td>No high-res image<br></td>
                <td>Dec 13, 2023</td>
            </tr>
            <tr>
                <td>Chesnaught</td>
                <td>XY68</td>
                <td>XYP</td>
                <td>No high-res image<br></td>
                <td>Dec 13, 2023</td>
            </tr>
            <tr>
                <td>*</td>
                <td>*</td>
                <td>MCD14</td>
                <td>All cards missing images (12)</td>
                <td>Dec 13, 2023</td>
            </tr>
            <tr>
                <td>*</td>
                <td>*</td>
                <td>MCD15</td>
                <td>All cards missing images (12)</td>
                <td>Dec 13, 2023</td>
            </tr>
            <tr>
                <td>*</td>
                <td>*</td>
                <td>MCD17</td>
                <td>All cards missing images (12)</td>
                <td>Dec 13, 2023</td>
            </tr>
            <tr>
                <td>*</td>
                <td>*</td>
                <td>MCD18</td>
                <td>All cards missing images (12)</td>
                <td>Dec 13, 2023</td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
{% endblock %}