{% extends 'layouts/base.html' %}

{% block content %}
<style>
    code {
        background-color: #f1f1f1;
        margin: 0.25em;
    }
</style>

<main class="main main--alignTop">
    <div class="row">
        <h1 class="text--title text--center">Help</h1>
        <h4 class="text--caption size--h4">FAQ</h4>
        <p>
            <strong>Q. Which set codes should I use?</strong>
            <br>
            A. You can find the complete list <a
                href="/set_codes">here</a>.
        </p>
        <p>
            <strong>Q. Why are the proxies so small/big?</strong>
            <br>
            A. The proxy size has been chosen to easily fit a proxy inside a sleeved card without touching the edges.
            However, results may vary depending on your printer and sheet size. Try adjusting the zoom scale in your
            printer settings if you're not satisfied with the results.
        </p>
        <p>
            <strong>Q. I have more questions!</strong>
            <br>
            A. You can email me <a href="mailto:steve@proxycroak.com">here</a> or contact me on <a
                target="_blank"
                href="{{ DISCORD_URL }}">our discord
            server <img
                    src="/static/img/discord.svg"
                    alt="(Discord logo)"
                    style="height: 1em; position: relative; top: 0.15em"></a>.
        </p>
        <br>
        <h4 class="text--caption size--h4">Known bugs</h4>
        <ul class="list">
            <li>Some cards are missing or have an issue; here's the <a href="/issues/cards">full list</a>.</li>
            <li>Cards heavily word-filled get cut off in Text mode.</li>
            <li><s>Items, supporters, special energies, tools, and stadiums are missing their body text in text mode.</s></li>
            <li>Many basic energies don't work (e.g. <code>"Basic {P} Energy SVE 5"</code>, <code>"2 Basic {P} Energy CRZ 156"</code>)</li>
            <li>Leading zeros in any numbers breaks things (for example writing <code>"04 Toxicroak STS 59"</code> instead of <code>"4 Toxicroak STS 59"</code>)</li>
            <li>Cards with multiple subtypes (e.g. forest seal stone being both item and tool) only show a single type.</li>
            <li>Tools that have attacks (TMs, forest seal, etc.) look weird in text mode.</li>
            <li>BREAK and LEGEND cards don't work properly in text mode with illustrations enabled.</li>
            <li>Shiny vault cards (from both hidden fates and shining fates) don't consistently work.</li>
            <li>Basic energy cards don't consistently work.</li>
            <li>The "Export As..." button doesn't work.</li>
        </ul>
    </div>
</main>

{% endblock %}