{% extends 'layouts/base.html' %}


{% block content %}

<main id="main" class="main main--login">
    <div class="main__content">
        <div class="main__head">
            {% if errors|length > 0 %}
            <div class="row errors">
                <div class="error">
                    <div class="error__head">Errors:</div>
                    <ul class="error__lines">
                        {% for error in errors %}
                        <li class="error__line">{{error}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endif %}
        </div>

        <form class="form" autocomplete="off" id="signupform" method="post" action="{{ url_for('auth.login') }}">
            <div class="form__head">
                <h1 class="form__title form__title--start">Login to your account</h1>
            </div>

            <label for="username">Username or email</label><br>
            <input type="text" id="username" name="username" class="login-input" required><br><br>

            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password" class="login-input" required><br><br>

            <input type="submit" value="Login" id="submit" class="btn login-button">
        </form>
        <br>
        <a href="{{ url_for('auth.forgot_password') }}">Forgot Password?</a>
    </div>
</main>

<script>
</script>

{% endblock %}