{% extends 'layouts/base.html' %}


{% block content %}

    <main id="main" class="main main--forgot-password">
        <div class="main__content">
            <form class="form" autocomplete="off" id="signupform" method="post"
                  action="{{ url_for('auth.reset_password') }}">
                <div class="form__head">
                    <h1 class="form__title form__title--start" id="msg">Enter your new password</h1>
                </div>

                <input type="hidden" id="token" name="token" value="{{ token }}">

                <label for="password">Password:</label><br>
                <input type="password" id="password" name="password" class="login-input" required><br><br>

                <label for="confirmPassword">Confirm Password:</label><br>
                <input type="password" id="confirmPassword" name="confirmPassword"
                       onchange="checkMatchingPassword()" class="login-input" required><br>
                <span id="confirmPasswordError" style="color: red;"></span>
                <br><br>


                <input type="submit" value="Submit" id="submit" class="btn login-button" disabled>
            </form>
        </div>
    </main>

    <script>
        const passwordField = document.getElementById("password");
        const confirmPasswordField = document.getElementById("confirmPassword");
        const confirmPasswordError = document.getElementById("confirmPasswordError");
        const submitButton = document.getElementById("submit");

        const checkMatchingPassword = () => {
            if (passwordField.value === confirmPasswordField.value) {
                console.log("Password matches!");
                submitButton.disabled = false;
                confirmPasswordError.innerText = "";
            } else {
                console.log("PASSWORD DOES NOT MATCH!");
                submitButton.disabled = true;
                confirmPasswordError.innerText = "Passwords don't match!";
            }
        }
    </script>

{% endblock %}