{% extends 'layouts/base.html' %}


{% block content %}

<main id="main" class="main main--home">
    <div class="main__content">
        <form class="form">
            <div class="form__head">
                <h1 class="form__title form__title--start" id="msg">If this user exists, we have sent you a password reset email</h1>
                <h4 class="form__subtitle">Email should arrive in less than 5 minutes. Check your inbox and spam folder.</h4>
                <a href="{{ url_for('ui.index') }}">Go Home</a>
            </div>
        </form>
    </div>
</main>

<script>


</script>

{% endblock %}