{% extends 'layouts/base.html' %}


{% block content %}

<main id="main" class="main main--home">
    <div class="main__content">
        <div class="main__head">
            {% if errors|length > 0 %}
            <div class="row errors">
                <div class="error">
                    <div class="error__head">Errors:</div>
                    <ul class="error__lines">
                        {% for error in errors %}
                        <li class="error__line">{{error}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endif %}
        </div>

        <form class="form" autocomplete="off" id="signupform" method="post" action="{{ url_for('auth.forgot_password') }}">
            <div class="form__head">
                <h1 class="form__title form__title--start">Your password was reset successfully!</h1>
            </div>
            <a href="{{ url_for('ui.index') }}">Go Home</a>
        </form>
    </div>
</main>

<script>
</script>

{% endblock %}